{% extends "./base-for-sign.njk" %}{% block content %}
    <div class="content sign-in">
        <form class="form">
            <div class="form__title">Sign in</div>
            <input type="text" class="form__input" placeholder="E-mail"/>
            <input type="password" class="form__input" placeholder="Password"/>
            <div class="form__forget"><a href="#">Forgot password?</a></div>
            <div class="form__btn">
                <button class="btn">Sign in</button>
            </div>
        </form>
    </div>
{% endblock %}