<nav class="nav">
    <a href="./index.html">
        <div class="nav__logo">
            <img src="../assets/img/nav-logo.png" alt="nav-logo.png">
        </div>
    </a>
    <div class="nav__content">
        <a href="./index.html">
            <div class="nav__content-item"><i class="fas fa-search"></i></div>
        </a>
        <a href="./index.html">
            <div class="nav__content-item active-item"><i class="fas fa-user"></i></div>
        </a>
        <a href="./index.html">
            <div class="nav__content-item"><i class="fas fa-envelope"></i></div>
        </a>
        <a href="./index.html">
            <div class="nav__content-item"><i class="fas fa-calendar-alt"></i></div>
        </a>
    </div>
</nav>