{% extends "./base-for-sign.njk" %}{% block content %}
    <div>
        <h1>Sign in</h1><br/>
        <a href="sign-in-one">Sign In One (Adaptive layout)</a><br/>
        <a href="sign-in-two">Sign In Two (Adaptive layout)</a><br/>
        <a href="sign-in-three">Sign In Three (No create)</a><br/>
        <a href="sign-in-four">Sign In Four (Adaptive layout)</a><br/>
        <br/>
        <hr/>
        <hr/>
        <h1>Sign up</h1><br/>
        <a href="sign-up-one">Sign Up One (Adaptive layout)</a><br/>
        <a href="sign-up-two">Sign Up Two (Adaptive layout)</a><br/>
        <a href="sign-up-three">Sign Up Three (Adaptive layout)</a><br/>
        <a href="sign-up-four">Sign Up Four (Adaptive layout)</a><br/>
        <a href="sign-up-five">Sign Up Five (No create)</a><br/>
        <br/>
        <hr/>
        <hr/>
        <h1>Admin Zona</h1><br/>
        <a href="admin">Admin (No Adaptive layout)</a><br/>
    </div>
{% endblock %}