<nav class="nav">
    <a href="/">
        <div class="nav__logo">
            <img src="../assets/img/nav-logo.png" alt="nav-logo.png">
        </div>
    </a>
    <div class="nav__content">
        <a href="/">
            <div class="nav__content-item active-item"><i class="fas fa-users-cog"></i></div>
        </a>
    </div>
</nav>