{% set title = 'myFixer.com' %}
{% set admin = true %}
{% extends 'base-for-app.njk' %}{% block content %}
    <div class="content admin">
        <div class="content__item">
            <div class="search-block">
                <div class="search-item">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Type here to search...">
                </div>
            </div>
            <table class="table-user">
                <thead>
                <tr>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>COUNTRY</th>
                    <th>STATUS</th>
                    <th>LEVEL</th>
                    <th>E-MAIL</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Richard</td>
                    <td>Richard</td>
                    <td>Australia</td>
                    <td>Requested</td>
                    <td>
                        <select class="table-select">
                            <option value="">Gold</option>
                            <option value="">Silver</option>
                            <option value="">Bronze</option>
                        </select>
                    </td>
                    <td>rfrome@gmail.com</td>
                    <td class="user-delete">&#10006;</td>
                </tr>
                <tr>
                    <td>Tiffany</td>
                    <td>Tiffany</td>
                    <td>Australia</td>
                    <td>Expected</td>
                    <td>
                        <select class="table-select">
                            <option value="">Gold</option>
                            <option value="">Silver</option>
                            <option value="">Bronze</option>
                        </select>
                    </td>
                    <td>rfrome@gmail.com</td>
                    <td class="user-delete">&#10006;</td>
                </tr>
                <tr>
                    <td>Richard</td>
                    <td>Richard</td>
                    <td>Australia</td>
                    <td>Completed</td>
                    <td>
                        <select class="table-select">
                            <option value="">Gold</option>
                            <option value="">Silver</option>
                            <option value="">Bronze</option>
                        </select>
                    </td>
                    <td>rfrome@gmail.com</td>
                    <td class="user-delete">&#10006;</td>
                </tr>
                <tr>
                    <td>Richard</td>
                    <td>Richard</td>
                    <td>Australia</td>
                    <td>Completed</td>
                    <td>
                        <select class="table-select">
                            <option value="">Gold</option>
                            <option value="">Silver</option>
                            <option value="">Bronze</option>
                        </select>
                    </td>
                    <td>rfrome@gmail.com</td>
                    <td class="user-delete">&#10006;</td>
                </tr>
                <tr>
                    <td>Richard</td>
                    <td>Richard</td>
                    <td>Australia</td>
                    <td>Expected</td>
                    <td>
                        <select class="table-select">
                            <option value="">Gold</option>
                            <option value="">Silver</option>
                            <option value="">Bronze</option>
                        </select>
                    </td>
                    <td>rfrome@gmail.com</td>
                    <td class="user-delete">&#10006;</td>
                </tr>
                <tr>
                    <td>Richard</td>
                    <td>Richard</td>
                    <td>Australia</td>
                    <td>Completed</td>
                    <td>
                        <select class="table-select">
                            <option value="">Gold</option>
                            <option value="">Silver</option>
                            <option value="">Bronze</option>
                        </select>
                    </td>
                    <td>rfrome@gmail.com</td>
                    <td class="user-delete">&#10006;</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}