<header class="header header-for-app">
    <div class="header__left">
        <div class="header__left-text"><a href="./index.html">Home</a></div>
        <div class="header__left-arrow"><i class="fas fa-chevron-right"></i></div>
        <div class="header__left-text"><a href="./index.html">Manage users</a></div>
    </div>
    <div class="header__right">
        <div class="header__right-img">
            <img src="../assets/img/admin-zona/user-logo.png" alt="user-logo.png">
        </div>
        <div class="header__right-text">Sarah Freeman</div>
        <div class="header__right-arrow"><a href="./index.html"><i class="fas fa-chevron-down"></i></a></div>
    </div>
</header>