{% extends "base-for-sign.njk" %}{% block content %}
    <div>
        <h1>Sign in</h1>
        <div>
            <a href="./sign-in-one.html">Sign In One (Adaptive layout)</a>
        </div>
        <div>
            <a href="./sign-in-two.html">Sign In Two (Adaptive layout)</a>
        </div>
        <div>
            <a href="./sign-in-three.html">Sign In Three (No create)</a>
        </div>
        <div>
            <a href="./sign-in-four.html">Sign In Four (Adaptive layout)</a>
        </div>
        <hr/>
        <hr/>
        <h1>Sign up</h1>
        <div>
            <a href="./sign-up-one.html">Sign Up One (Adaptive layout)</a>
        </div>
        <div>
            <a href="./sign-up-two.html">Sign Up Two (Adaptive layout)</a>
        </div>
        <div>
            <a href="./sign-up-three.html">Sign Up Three (Adaptive layout)</a>
        </div>
        <div>
            <a href="./sign-up-four.html">Sign Up Four (Adaptive layout)</a>
        </div>
        <div>
            <a href="./sign-up-five.html">Sign Up Five (No create)</a>
        </div>
        <hr/>
        <hr/>
        <h1>Profile</h1>
        <div>
            <a href="#">Profile one (No adaptive)</a>
        </div>
        <div>
            <a href="#">Profile two (No adaptive)</a>
        </div>
        <hr/>
        <hr/>
        <h1>Search</h1>
        <div>
            <a href="#">Search one (No adaptive)</a>
        </div>
        <div>
            <a href="#">Search two (No adaptive)</a>
        </div>
        <hr/>
        <hr/>
        <h1>Admin Zone</h1>
        <div>
            <a href="#">Admin zone (No adaptive)</a>
        </div>
        <hr/>
        <hr/>
    </div>
{% endblock %}