<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">Go Home</button>
  </div>
  <div class="info">
    <strong>Its Author</strong>
    <small>11.01.2022</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, voluptas.</p>
  </div>
</div>
